@{
  Layout = "_Layout";
}
<div class="container">
@using BakeryOrders.Models
<h1>Vendor Info</h1>
<h2>@Model["vendor"].Name</h2>
<p>@Model["vendor"].Description</p>
@if(@Model["orders"].Count == 0){
  <h4>There are no orders for this vendor</h4>
}
@{string bgStyle = "";}
<ol>
@foreach (Order order in Model["orders"]) {
  @if (order.Fulfilled) {
    bgStyle="complete";
  } else if (!order.Fulfilled) {
    bgStyle="incomplete";
  }
  <div class=@bgStyle>
    <li><strong>@order.Title</strong><br>
        @order.Description<br>
        @order.Date</li>
  <a href='/vendors/@Model["vendor"].Id/orders/@order.Id/items'><button>View Order Details</button></a>
  <form action='/vendors/@Model["vendor"].Id/delete/orders/@order.Id' method='post'>
    <button type='submit'>Delete this Order</button>
  </form>
  </div>
}
</ol>
<a href='/vendors/@Model["vendor"].Id/orders/new'><button>Add New Order</button></a>
<br><br>
<a href='/vendors'><button>Return to Vendors</button></a>
<a href='/'><button>Return Home</button></a>
</div>